Providers/Infotjenester/Infotjenester.Hressurs.Provider/Service References/PersonServiceReference/meta4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.hressurs.no/entities/2012/03/Employee" elementFormDefault="qualified" targetNamespace="http://services.hressurs.no/entities/2012/03/Employee" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd11" namespace="http://services/hressurs.no/entities/2012/03/UnitIdentifier" />
  <xs:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd12" namespace="http://services.hressurs.no/entities/2012/03/Employment" />
  <xs:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd7" namespace="http://services.hressurs.no/entities/2012/03/ItemInfo" />
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element xmlns:q1="http://services/hressurs.no/entities/2012/03/UnitIdentifier" name="EmployedIn" nillable="true" type="q1:UnitIdentifier" />
      <xs:element name="EmployeeNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://services.hressurs.no/entities/2012/03/Employment" name="Employment" nillable="true" type="q2:ArrayOfEmployment" />
      <xs:element xmlns:q3="http://services.hressurs.no/entities/2012/03/ItemInfo" minOccurs="0" name="InternalInfo" nillable="true" type="q3:ItemInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
</xs:schema>