Providers/Infotjenester/Infotjenester.Hressurs.Provider/Service References/PersonServiceReference/meta2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services/hressurs.no/message/2012/03/ExportPersonResponse" elementFormDefault="qualified" targetNamespace="http://services/hressurs.no/message/2012/03/ExportPersonResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd5" namespace="http://services/hressurs.no/entities/2012/03/Person" />
  <xs:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServiceDataContracts.Message" />
  <xs:complexType name="ExportPersonResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceDataContracts.Message" base="q1:BaseExportPersonMessage">
        <xs:sequence>
          <xs:element xmlns:q2="http://services/hressurs.no/entities/2012/03/Person" minOccurs="0" name="Persons" nillable="true" type="q2:ArrayOfPerson" />
          <xs:element minOccurs="0" name="Status" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExportPersonResponse" nillable="true" type="tns:ExportPersonResponse" />
</xs:schema>