Providers/Infotjenester/Infotjenester.Hressurs.Provider/Service References/PersonServiceReference/meta20.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services/hressurs.no/message/2012/03/ImportPersonResponse" elementFormDefault="qualified" targetNamespace="http://services/hressurs.no/message/2012/03/ImportPersonResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd23" namespace="http://services/hressurs.no/message/2012/03/ItemResult" />
  <xs:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServiceDataContracts.Message" />
  <xs:complexType name="ImportPersonResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceDataContracts.Message" base="q1:BasePersonMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="ImportCount" type="xs:int" />
          <xs:element minOccurs="0" name="InputCount" type="xs:int" />
          <xs:element xmlns:q2="http://services/hressurs.no/message/2012/03/ItemResult" minOccurs="0" name="Results" nillable="true" type="q2:ArrayOfItemResult" />
          <xs:element minOccurs="0" name="UpdateCount" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ImportPersonResponse" nillable="true" type="tns:ImportPersonResponse" />
</xs:schema>