Providers/Infotjenester/Infotjenester.Hressurs.Provider/Service References/PersonServiceReference/meta11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services/hressurs.no/entities/2012/03/Phone" elementFormDefault="qualified" targetNamespace="http://services/hressurs.no/entities/2012/03/Phone" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd7" namespace="http://services.hressurs.no/entities/2012/03/ItemInfo" />
  <xs:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ServiceDataContracts" />
  <xs:complexType name="ArrayOfPhone">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Phone" nillable="true" type="tns:Phone" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhone" nillable="true" type="tns:ArrayOfPhone" />
  <xs:complexType name="Phone">
    <xs:sequence>
      <xs:element xmlns:q1="http://services.hressurs.no/entities/2012/03/ItemInfo" minOccurs="0" name="InternalInfo" nillable="true" type="q1:ItemInfo" />
      <xs:element name="Number" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceDataContracts" name="Type" type="q2:PhoneType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Phone" nillable="true" type="tns:Phone" />
</xs:schema>