Providers/Infotjenester/Infotjenester.Hressurs.Provider/Service References/PersonServiceReference/meta10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.hressurs.no/entities/2012/03/EMailAddress" elementFormDefault="qualified" targetNamespace="http://services.hressurs.no/entities/2012/03/EMailAddress" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd7" namespace="http://services.hressurs.no/entities/2012/03/ItemInfo" />
  <xs:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ServiceDataContracts" />
  <xs:complexType name="ArrayOfEMailAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EMailAddress" nillable="true" type="tns:EMailAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEMailAddress" nillable="true" type="tns:ArrayOfEMailAddress" />
  <xs:complexType name="EMailAddress">
    <xs:sequence>
      <xs:element name="Address" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://services.hressurs.no/entities/2012/03/ItemInfo" minOccurs="0" name="InternalInfo" nillable="true" type="q1:ItemInfo" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceDataContracts" name="Type" type="q2:EMailType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EMailAddress" nillable="true" type="tns:EMailAddress" />
</xs:schema>