Providers/Infotjenester/Infotjenester.Hressurs.Provider/Service References/PersonServiceReference/meta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://services.hressurs.no/2012/03" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://services.hressurs.no/2012/03" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://services.hressurs.no/2012/03/Imports">
      <xsd:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd0" namespace="http://services.hressurs.no/2012/03" />
      <xsd:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd2" namespace="http://services/hressurs.no/message/2012/03/ImportPersonRequest" />
      <xsd:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServiceDataContracts.Message" />
      <xsd:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ServiceDataContracts" />
      <xsd:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd5" namespace="http://services/hressurs.no/entities/2012/03/Person" />
      <xsd:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd6" namespace="http://services/hressurs.no/entities/2012/03/Address" />
      <xsd:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd7" namespace="http://services.hressurs.no/entities/2012/03/ItemInfo" />
      <xsd:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd8" namespace="http://services/hressurs.no/entities/2012/03/Child" />
      <xsd:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd9" namespace="http://services.hressurs.no/entities/2012/03/EMailAddress" />
      <xsd:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd10" namespace="http://services.hressurs.no/entities/2012/03/Employee" />
      <xsd:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd11" namespace="http://services/hressurs.no/entities/2012/03/UnitIdentifier" />
      <xsd:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd12" namespace="http://services.hressurs.no/entities/2012/03/Employment" />
      <xsd:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd13" namespace="http://services/hressurs.no/entities/2012/03/Category" />
      <xsd:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd14" namespace="http://services.hressurs.no/entities/2012/03/EmploymentDistribution" />
      <xsd:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd15" namespace="http://services/hressurs.no/entities/2012/03/Position" />
      <xsd:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd16" namespace="http://services/hressurs.no/entities/2013/03/Logon" />
      <xsd:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd17" namespace="http://services/hressurs.no/entities/2012/03/PersonIdentifier" />
      <xsd:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd18" namespace="http://services/hressurs.no/entities/2012/03/NextOfKin" />
      <xsd:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd19" namespace="http://services/hressurs.no/entities/2012/03/Phone" />
      <xsd:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd20" namespace="http://services/hressurs.no/entities/2012/03/Unit" />
      <xsd:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd21" namespace="http://schemas.datacontract.org/2004/07/ServiceDataContracts.Entities" />
      <xsd:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd22" namespace="http://services/hressurs.no/message/2012/03/ImportPersonResponse" />
      <xsd:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd23" namespace="http://services/hressurs.no/message/2012/03/ItemResult" />
      <xsd:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd24" namespace="http://services/hressurs.no/message/2012/03/ExportPersonRequest" />
      <xsd:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd25" namespace="http://services/hressurs.no/message/2012/03/ExportPersonResponse" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPerson_Import_InputMessage">
    <wsdl:part xmlns:q1="http://services.hressurs.no/2012/03" name="parameters" element="q1:Import" />
  </wsdl:message>
  <wsdl:message name="IPerson_Import_OutputMessage">
    <wsdl:part xmlns:q2="http://services.hressurs.no/2012/03" name="parameters" element="q2:ImportResponse" />
  </wsdl:message>
  <wsdl:message name="IPerson_Export_InputMessage">
    <wsdl:part xmlns:q3="http://services.hressurs.no/2012/03" name="parameters" element="q3:Export" />
  </wsdl:message>
  <wsdl:message name="IPerson_Export_OutputMessage">
    <wsdl:part xmlns:q4="http://services.hressurs.no/2012/03" name="parameters" element="q4:ExportResponse" />
  </wsdl:message>
  <wsdl:portType name="IPerson">
    <wsdl:operation name="Import">
      <wsdl:input wsaw:Action="http://services.hressurs.no/2012/03/IImportPerson/Import" message="tns:IPerson_Import_InputMessage" />
      <wsdl:output wsaw:Action="http://services.hressurs.no/2012/03/IImportPerson/ImportResponse" message="tns:IPerson_Import_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Export">
      <wsdl:input wsaw:Action="http://services.hressurs.no/2012/03/IExportPerson/Export" message="tns:IPerson_Export_InputMessage" />
      <wsdl:output wsaw:Action="http://services.hressurs.no/2012/03/IExportPerson/ExportResponse" message="tns:IPerson_Export_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>