Providers/Infotjenester/Infotjenester.Hressurs.Provider/Service References/PersonServiceReference/meta12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.hressurs.no/2012/03" elementFormDefault="qualified" targetNamespace="http://services.hressurs.no/2012/03" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd2" namespace="http://services/hressurs.no/message/2012/03/ImportPersonRequest" />
  <xs:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd21" namespace="http://services/hressurs.no/message/2012/03/ImportPersonResponse" />
  <xs:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd23" namespace="http://services/hressurs.no/message/2012/03/ExportPersonRequest" />
  <xs:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd24" namespace="http://services/hressurs.no/message/2012/03/ExportPersonResponse" />
  <xs:element name="Import">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://services/hressurs.no/message/2012/03/ImportPersonRequest" minOccurs="0" name="messageRequest" nillable="true" type="q1:ImportPersonRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://services/hressurs.no/message/2012/03/ImportPersonResponse" minOccurs="0" name="ImportResult" nillable="true" type="q2:ImportPersonResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Export">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://services/hressurs.no/message/2012/03/ExportPersonRequest" minOccurs="0" name="messageResponse" nillable="true" type="q3:ExportPersonRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://services/hressurs.no/message/2012/03/ExportPersonResponse" minOccurs="0" name="ExportResult" nillable="true" type="q4:ExportPersonResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>