Providers/Infotjenester/Infotjenester.Hressurs.Provider/Service References/PersonServiceReference/meta19.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services/hressurs.no/entities/2012/03/UnitIdentifier" elementFormDefault="qualified" targetNamespace="http://services/hressurs.no/entities/2012/03/UnitIdentifier" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://services.hressurs.no/PersonService.svc/meta?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ServiceDataContracts" />
  <xs:complexType name="UnitIdentifier">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceDataContracts" name="Identifiertype" nillable="true" type="q1:UnitIdentifierType" />
      <xs:element name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnitIdentifier" nillable="true" type="tns:UnitIdentifier" />
</xs:schema>